{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ],
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "jsdoc-to-assert",
        "power-assert"
      ]
    }
  }
}
